<!--<div id="search" class="CoveoSearchInterface" data-enable-history="true" data-hide-until-first-query="true">-->
<!--id="search" class='CoveoSearchInterface' data-enable-history="true" data-results-per-page="12"-->


<!--<div id="search" class='CoveoSearchInterface' data-enable-history="true" data-results-per-page="12">-->
<!--<div class="CoveoSearchbox" data-enable-omnibox="true"></div>-->
<!--</div>-->

<div class="header pinned-top">
    <a routerLink="/" routerLinkActive="active"><img src="../assets/img/logo-saq-250x358.png" class="logo-app"/></a>

    <h1>{{title}}</h1>
    <tastetag></tastetag>

    <!--<div id="search" class='CoveoSearchInterface' data-enable-history="true" data-results-per-page="12">-->
    <!--<div class="CoveoSearchbox" data-enable-omnibox="true"></div>-->
    <!--</div>-->

    <!--<div class="CoveoSearchbox" data-enable-omnibox="true"></div>-->

    <!--<script>-->
        <!--$(function () {-->
<!--//            Coveo.SearchEndpoint.configureCloudEndpoint('js-challenge-saq', '6318103b-f9da-437c-854b-9e6f1f44e27b');-->
            <!--$('#search').coveo('init');-->
        <!--});-->
    <!--</script>-->
</div>

<div class="body">
    <router-outlet></router-outlet>
</div>